.wysiwyg {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    //
  }

  p {
    //
  }

  a {
    //
  }

  ul {
    //
  }

  ol {
    //
  }

  li {
    //
  }

  strong {
    //
  }

  em {
    //
  }

  table {
    tr {
      //
    }

    th {
      //
    }

    td {
      //
    }
  }
}
